<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Functions</string>
	<key>Pages</key>
	<array>
		<string>01-Becoming-Functional.playgroundpage</string>
		<string>02-Combining-Functions.playgroundpage</string>
		<string>03-Draw-A-Square.playgroundpage</string>
		<string>04-Custom-Functions.playgroundpage</string>
		<string>05-A-Bigger-Challenge.playgroundpage</string>
		<string>06-More-Custom-Functions.playgroundpage</string>
		<string>07-Passing-Data-To-Functions.playgroundpage</string>
		<string>08-Repeating-Code.playgroundpage</string>
		<string>09-Even-More-Data.playgroundpage</string>
		<string>10-Returning-Values.playgroundpage</string>
		<string>11-Create-Something-Cool.playgroundpage</string>
	</array>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
